
@import url('//fonts.cdnfonts.com/css/mark-pro');
.body {
  font-family: 'Mark Pro', sans-serif;
  background-color: black;
}

body {
  margin: 0;
  font-family: 'Mark Pro', sans-serif;
  background-color: 'black';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
